<div class="container-fluid p-4">

    <div class="post-header-title-wrapper">
        <div class="post-header-title">
            <h5 *ngIf="this.username ==null">All Posts</h5>
            <h5 *ngIf="this.username !=null">Welcome {{this.username.userName}}</h5>
        </div>

        <div class=" card p-4 mb-4">

            <div class="row">
                <div class="col-md-3 mb-4" *ngFor="let food of allData">
                    <mat-card class="h-100 mat-card-wrapper">
                        <mat-card-header class="food-header-wrapper mb-1">
                            <div mat-card-avatar class="example-header-image">

                            </div>
                            <mat-card-title> {{food.name}} </mat-card-title>
                            <span>{{date | date}}</span>

                            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                        </mat-card-header>
                        <img (click)="detailCard(food)" mat-card-image src="{{food.imgSrc}}" alt="Photo of food">
                        <div class="content-wrap">
                            <mat-card-content>
                                <div class="like-wrapper">
                                    <div class="like-sub-wrapper">
                                        <span><i class="fa fa-heart"></i></span>
                                        <br />
                                        <span>{{food.like}}</span>
                                    </div>
                                    <div class="like-sub-wrapper">
                                        <span><i class="fa fa-comment"></i></span>
                                        <br />
                                        <span>{{food.order}}</span>
                                    </div>
                                    <div class="like-sub-wrapper">
                                        <span><i class="fa fa-tag"></i></span>
                                        <br />
                                        <span>{{food.amount | currency:"₹"}}</span>
                                    </div>
                                </div>

                                <div class="dish-name-wrapper">
                                    {{food.title}}
                                </div>
                                <div class="mb-3">
                                    <span>{{food.restro}}</span>, <span>{{food.area}}</span>
                                </div>
                                <!-- <p>
                                {{food.description}}
                            </p> -->
                            </mat-card-content>
                            <div>
                                <button class="edit-btn-wrap" mat-raised-button color="primary" (click)="editCard(food)">Edit</button>
                                <button mat-raised-button color="warn" (click)="deleteCard(food)">Delete</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>